@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  height: 100vh;
}

body {
  /* height: 100vh; */
  background: #ffffff;

  font-family: "Roboto";
  font-style: normal;

  display: flex;
  /* justify-content: center;
    align-items: center; */

  /* padding-top: 20%; */
  padding-bottom: 20%;
}

main {
  width: 336px;
  height: auto;

  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  border-radius: 10px;

  margin: 100px auto 0px;
}

h1 {
  font-weight: 900;
  font-size: 26px;
  line-height: 30px;
  text-transform: capitalize;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  padding-top: 13px;

  color: #ffffff;
}

.colored-heading {
  height: 28px;

  box-sizing: border-box;
  border-radius: 10px 10px 0px 0px;
  background: #ffdc40;
}

.to-do-section {
  height: 88.13%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
  outline: none;
  background: none;
  z-index: 999;
  cursor: pointer;
}

.sort-button {
  width: 25px;
  height: 15px;
}

.sort-btn {
  /* width: 25px;
  height: 15px; */
  /* background: url(./assets/Images/asc_img.png) no-repeat; */
  margin-left: 78%;
  padding-bottom: 10px;
}

/* .sort-button:hover {
  background: url(./assets/Images/asc-hover.png) no-repeat;
} */

.todolist {
  /* padding-bottom: 18px; */
  width: 286px;
  /* height: 40px; */

  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

.input-section {
  height: 40px;

  display: flex;
  align-items: center;
}

.input-section:not(:last-child)::after {
  position: absolute;
  background-color: lightgray;
  height: 1px;
  width: 250px;
  margin-left: 7px;
  margin-top: 35px;
  content: "";
}

input:focus {
  outline: none;
}

.input-context {
  flex-grow: 1;
  border: none;
  outline: none;

  padding-left: 5%;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.delete-button {
  width: 20px;
  height: 20px;

  padding-left: 5%;
  padding-right: 5%;
}

.delete-button:hover {
  background-color: #833ae0;
  border-radius: 55%;
  overflow: hidden;
}

.add-section {
  width: 150px;
  height: 42px;

  background: #833ae0;
  border-radius: 71px;

  display: flex;
  align-items: center;
  text-align: center;

  cursor: pointer;
  margin-top: 18px;
  margin-bottom: 19px;
}

.plus {
  width: 42px;
  height: 42px;

  background: #9953f1;
  border-radius: 71px;
}

.add {
  width: 129px;
  height: 42px;
}


.draggable {
  cursor: move;
  user-select: none;
}